body{
    background-color: #1E252B;
    font-family: Poppins; 
}

.container{
    width: 1224px;
    margin: 0 auto;
}

.company-logo{
    font-family: Poppins; 
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    color: #FFFFFFE5;
    display: flex;
    align-items: center;
    gap: 21px;
    margin-right: auto;
}

.header{
    padding-top: 38.31px;
    padding-bottom: 15px;
}

.header-container{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 40px;
}

.nav-list-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF8C;
}

.nav-list-item{
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-list-item::after{
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("./image/chevron-down.png");
    display: inline-block;
}

.user-list{
    display: flex;
    gap: 13px;
    margin-left: auto;
}

.user-list-link{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFFC7;
    display: block;
    padding-left: 28px;
    padding-bottom: 12px;
    padding-right: 28px;
    padding-top: 12px;
}

.user-list-link-second{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FDF5FF; 
    background-color: #FF6E30;
    border-radius: 8px;   
    display: block;
    padding-left: 28px;
    padding-bottom: 12px;
    padding-right: 28px;
    padding-top: 12px;
}

.hero{
    padding-top: 85px;
    background-image: url("./image/Illustration.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.hero-title{
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0em;
    color: #FFFFFFE5;
    max-width: 600px;
    margin-bottom: 30px;
}

.hero-title-span{
    color: #FF6E30;
}

.hero-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #FFFFFF8C;
    max-width: 487px;
    margin-bottom: 60px;
}

.hero-form-input{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #FFFFFF61;
}

.hero-form-btn{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
    background-color: #FF6E30;
    border-radius: 8px;
}

.hero-form{
    margin-bottom: 110px;
}

.hero-list{
    display: flex;
    gap: 8px; 
}

.popular{
    padding-top: 200px;
    padding-bottom: 200px;
}

.popular-title{
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    color: #FFFFFFE5;
    margin: auto;
    max-width: 455px;
    text-align: center;
    margin-bottom: 25px;
}

.popular-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: #FFFFFF8C;
    margin: auto;
    max-width: 427px;
    text-align: center;
    margin-bottom: 90px;
}

.popular-list{
    display: flex;
    flex-wrap: wrap; 
    column-gap: 24px;
    row-gap: 100px;
}

.popular-list-item{
    padding: 33px;
    max-width: 392px;
}

.popular-list-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    color: #FFFFFFC7;
}

.popular-list-text-first{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: #FFA5378C;
}

.popular-list-text-second{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #FFFFFF8C;
    max-width: 326px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.popular-list-link{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF8C;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: auto;
}

.popular-optional-list-wrap{
    display: flex;
}

.container-popular-list{
    display: flex;
    gap: 30px;
}

.option-list{
    display: flex;
    gap: 12px;
}

.popular-btn{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: #FF6E30;
    background-color: #1E252B;
    border: 1px solid #FFFFFF1A;
    border-radius: 8px;
    margin: auto;
    margin-top: 100px;
    display: block;
    width: 184px;
    height: 64px;
}

.brand{
    padding-top: 55px;
    padding-bottom: 56px;
    background-image: url("./image/Rectangle308.png");
    background-repeat: no-repeat;
    background-position: center;
}

.brand-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    color: #FFFFFFCC;
    margin: auto;
    max-width: 367px;
    text-align: center;
    margin-bottom: 55px;
}

.brand-list{
    display: flex;
    justify-content: space-between;
    padding-left: 82px;
    padding-right: 82px;
}

.newcomer{
    padding-top: 200px;
    padding-bottom: 200px;
    
}

.newcomer-title{
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    color: #FFFFFFE5;
}

.newcomer-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: #FFFFFF8C;
    max-width: 427px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.newcomer-btn{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    color: #FFFFFF;
    background-color: #FF6E30;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
}

.newcomer-list-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    color: #FFFFFFC7;
}

.newcomer-list-text-first{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: #FFA5378C; 
}

.newcomer-list-text-second{
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #FFFFFF8C;
    margin-top: 30px;
    margin-bottom: 30px;
}

.newcomer-list-btn{
    background-color: #1E252B;
    border-radius: 8px;
}

.newcomer-list-link{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF8C;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: auto;
}

.newcomer-list-item-wrap{
    display: flex;
    gap: 30px;
    align-items: center;
}

.newcomer-option-list-wrap{
    display: flex;
}

.newcomer-list-item{
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 22px;
    padding-right: 22px;
    max-width: 288px;
}

.newcomer-container{
    display: flex;
    justify-content: space-between;
}

.newcomer-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 50px;
}

.join{
    padding-bottom: 240px;
}

.join-title{
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    color: #FFFFFFE5;
}

.join-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: #FFFFFF8C;
}

.join-form-input{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #FFFFFF61;
}

.join-form-btn{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
    background-color: #FF6E30;
    border-radius: 8px;
}

.company-logo-second{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    color: #FFFFFFE5;
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer{
    padding-bottom: 98px;
    padding-top: 70px;
}

.footer-text-first{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFFE5;
    margin-top: 25px;
    margin-bottom: 21px;
}

.footer-text-second{
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #FFFFFF8C;
    max-width: 260px;
}

.footer-list{
    display: flex;
    margin-left: auto;
    gap: 115px;
}

.footer-list-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: #FFFFFFE5;
}

.footer-container{
    display: flex;
}

.address{
    margin-top: 20px;
}

.address-list-item{
    margin-bottom: 10px;
}

.address-list-link-tel{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF8C;
}

.address-list-link{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF8C;
}

.address-list-link-mail{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF8C;
}

.second-list{
    margin-top: 20px;
}

.second-list-item{
    margin-bottom: 10px;
}

.second-list-link{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF8C;
}